/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
#wpc-weather .wpc-container a:active,
#wpc-weather .wpc-flexslider a:active,
#wpc-weather .wpc-container a:focus,
#wpc-weather .wpc-flexslider a:focus  {outline: none;}
#wpc-weather .wpc-slides,
#wpc-weather .wpc-slides li,
#wpc-weather .wpc-control-nav,
#wpc-weather .wpc-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('flexslider-icon.eot');
	src:url('flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('flexslider-icon.woff') format('woff'),
		url('flexslider-icon.ttf') format('truetype'),
		url('flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
#wpc-weather .wpc-flexslider, #wpc-weather .wpc-flexslider-forecast {margin: 0; padding: 0;}
#wpc-weather .wpc-flexslider .slides > li, #wpc-weather .wpc-flexslider-forecast > div {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
#wpc-weather .wpc-flexslider .slides img {width: 100%; display: block;}
#wpc-weather .wpc-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
#wpc-weather .wpc-slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] #wpc-weather .wpc-slides {display: block;}
* html #wpc-weather .wpc-slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js #wpc-weather .wpc-slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
#wpc-weather .wpc-flexslider, #wpc-weather .wpc-flexslider-forecast { position: relative; zoom: 1; }
#wpc-weather .wpc-flexslider-forecast {
    background: none repeat scroll 0 0 #F3F3F3;
    display: inline-block;
    height: 140px;
    position: relative;
    width: 100%;
}
#wpc-weather .wpc-flexslider-forecast li {margin: 0;}
#wpc-weather .wpc-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
#wpc-weather .loading .wpc-viewport { max-height: 300px; }
#wpc-weather .wpc-flexslider .slides, #wpc-weather .wpc-flexslider-forecast .slides { zoom: 1; }
#wpc-weather .carousel li { margin-right: 5px; }

/* Direction Nav */
#wpc-weather .wpc-direction-nav {*height: 0; list-style: none outside none;}
#wpc-weather .wpc-direction-nav a  { display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
#wpc-weather .wpc-direction-nav .wpc-prev { left: -50px; }
#wpc-weather .wpc-direction-nav .wpc-next { right: -50px; text-align: right; }

#wpc-weather .wpc-flexslider-forecast:hover .wpc-prev { opacity: 0.7; left: 10px; }
#wpc-weather .wpc-flexslider-forecast:hover .wpc-next { opacity: 0.7; right: 10px; }
#wpc-weather .wpc-flexslider-forecast:hover .wpc-next:hover, .flexslider:hover .wpc-prev:hover { opacity: 1; }

#wpc-weather .wpc-flexslider:hover .wpc-prev { opacity: 0.7; left: 10px; }
#wpc-weather .wpc-flexslider:hover .wpc-next { opacity: 0.7; right: 10px; }
#wpc-weather .wpc-flexslider:hover .wpc-next:hover, .flexslider:hover .wpc-prev:hover { opacity: 1; }
#wpc-weather .wpc-direction-nav .wpc-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
#wpc-weather .wpc-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
#wpc-weather .wpc-direction-nav a.wpc-next:before  { content: '\f002'; }

/* Pause/Play */
#wpc-weather .wpc-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
#wpc-weather .wpc-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
#wpc-weather .wpc-pauseplay a:hover  { opacity: 1; }
#wpc-weather .wpc-pauseplay a.wpc-play:before { content: '\f003'; }

/* Control Nav */
#wpc-weather .wpc-control-nav {
    bottom: -5px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 6000;
}
#wpc-weather .wpc-flexslider-forecast .wpc-control-nav {
    bottom: -5px;
}
#wpc-weather .wpc-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
#wpc-weather .wpc-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
#wpc-weather .wpc-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
#wpc-weather .wpc-control-paging li a.wpc-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

#wpc-weather .wpc-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
#wpc-weather .wpc-control-thumbs li {width: 25%; float: left; margin: 0;}
#wpc-weather .wpc-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
#wpc-weather .wpc-control-thumbs img:hover {opacity: 1;}
#wpc-weather .wpc-control-thumbs .wpc-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  #wpc-weather .wpc-direction-nav .wpc-prev { opacity: 1; left: 10px;}
  #wpc-weather .wpc-direction-nav .wpc-next { opacity: 1; right: 10px;}
}