.mceIcon.mce_owmw_button:before {
	content: "\f176" !important;
	font-family: dashicons;
	font-size: 20px;
}

#owmweather_basic .ui-tabs .ui-tabs-nav {
	display: inline-block;
	height: 26px;
	position: relative;
	width: 100%;
	z-index: 50;
	margin: 0;
	padding: 0;
}

#owmweather_basic .ui-helper-clearfix:after {
	content: none;
}

#owmweather_basic .ui-tabs .ui-tabs-panel {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ddd;
	border-radius: 0 3px 3px 3px;
	display: block;
	padding: 1em 1.4em;
}

#owmweather_basic .ui-tabs .ui-tabs-nav li,#owmweather_basic .ui-tabs-anchor {
	cursor: pointer !important;
}

#owmweather_basic .ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background: none repeat scroll 0 0 #fff;
	border-color: #ddd #ddd #fff;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	position: relative;
	z-index: 60;
	cursor: pointer;
}

#owmweather_basic #tabs-1 label,#owmweather_basic #tabs-1 .misc,#owmweather_basic #tabs-2 .hour,#owmweather_basic #tabs-2 .temperatures,#owmweather_basic #tabs-2 .owmw-misc,#owmweather_basic #tabs-2 .owmw-dates,#owmweather_basic #tabs-2 .forecast,#owmweather_basic #tabs-2 .footer,#owmweather_basic #tabs-3 label,#owmweather_basic .subsection-title,#owmweather_basic label[for=owmweather_map_height_meta],#owmweather_basic label[for=owmweather_map_zoom_meta],#owmweather_basic label[for=owmweather_map_opacity_meta] {
	border-bottom: 1px solid #ddd;
	margin: 20px 0 5px;
}

#owmweather_basic .subsection-title {
	font-weight: bold;
}

.wp-picker-container label {
	border-bottom: none !important;
	display: inline-block !important;
	margin: 0 0 5px 5px !important;
}

#owmweather_basic #tabs-1 label[for=owmweather_date_timezone_bypass_meta],#owmweather_basic #tabs-1 label[for=owmweather_gtag_meta],#owmweather_basic #tabs-1 label[for=owmweather_bypass_exclude_meta] {
	border: 0;
	width: inherit;
}

#owmweather_basic #tabs-1 label[for=owmweather_date_timezone_bypass_meta] input,#owmweather_basic #tabs-1 label[for=owmweather_gtag_meta] input,#owmweather_basic #tabs-1 label[for=owmweather_bypass_exclude_meta] input {
	width: inherit;
}

#owmweather_basic .wp-color-result {
	margin: 0;
}

#owmweather_basic #tabs-1 input,#owmweather_basic #owmweather_map_height_meta,#owmweather_basic #owmweather_map_opacity_meta {
	width: 300px;
}

#owmweather_basic select {
	width: 300px;
}

#owmweather_basic #owmweather_custom_css_meta {
	width: 100%;
	height: 250px;
}

#owmweather_basic .mandatory {
	color: #c00;
}

#owmweather_basic .typeahead {
	background-color: #fff;
}

#owmweather_basic .tt-query {
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
}

#owmweather_basic .tt-hint {
	color: #999;
}

#owmweather_basic .tt-dropdown-menu {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 8px 8px 8px 8px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}

#owmweather_basic .tt-suggestion {
	font-size: 18px;
	line-height: 24px;
	padding: 3px 20px;
}

#owmweather_basic .tt-suggestion.tt-cursor {
	background-color: #0097cf;
	color: #fff;
}

#owmweather_basic .tt-suggestion p {
	margin: 0;
}

#owmweather_basic .gist {
	font-size: 14px;
}

#owmweather_shortcode .shortcode {
	margin: 20px 0;
}

#owmweather_shortcode .shortcode-php {
	margin: 0 0 20px 0;
}

#owmweather_shortcode .shortcode-php .owmw-highlight,#owmweather_shortcode .shortcode .owmw-highlight {
	background: none repeat scroll 0 0 #222;
	color: #fff;
	display: block;
	margin: 20px 0 0;
	padding: 5px;
}

#owmweather_basic .ui-tabs {
	position: relative;
	padding: .2em;
}

#owmweather_basic .ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}

#owmweather_basic .ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .38em 1em;
	text-decoration: none;
}

#owmweather_basic .ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}

#owmweather_basic .ui-tabs .ui-tabs-nav li.ui-tabs-active a,#owmweather_basic .ui-tabs .ui-tabs-nav li.ui-state-disabled a,#owmweather_basic .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}

#owmweather_basic .ui-tabs .ui-tabs-nav li a,#owmweather_basic .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}

#owmweather_basic .ui-tabs-vertical {
	width: 55em;
}

#owmweather_basic .ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 12em;
}

#owmweather_basic .ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px .2em 0;
}

#owmweather_basic .ui-tabs-vertical .ui-tabs-nav li a {
	display: block;
}

#owmweather_basic .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
	border-right-width: 1px;
}

#owmweather_basic .ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	float: right;
	width: 40em;
}

#owmweather-clouds {
	position: relative;
}

#owmweather-header {
	margin: 0 10px 20px;
}

#owmweather-header #owmweather-clouds h3 {
	background: url("../img/logo-owmweather.png") no-repeat scroll 0 0 / contain rgba(0,0,0,0);
	font-size: 20px;
	font-weight: bold;
	line-height: 80px;
	margin: 20px 0;
	text-indent: -9999px;
}

#owmweather-header #owmweather-clouds .owmw-info-version {
	font-size: 14px;
	left: 290px;
	position: absolute;
	text-indent: 0;
	top: 20px;
}

#owmweather-header #owmweather-clouds #owmweather-notice {
	width: 63%;
}

#owmweather-header #owmweather-clouds #owmweather-notice p {
	font-size: 16px;
}

#owmweather-header #owmweather-clouds #owmweather-notice .dashicons {
	color: #444;
	text-decoration: none;
	vertical-align: middle;
	font-size: 18px;
}

#owmweather-header #owmweather-clouds #owmweather-notice .small {
	font-size: 13px;
	line-height: 20px;
}

#owmweather-header #owmweather-clouds #owmweather-notice .wporg-ratings {
	display: inline;
}

.owmweather-settings {
	float: left;
	max-width: 750px;
	width: 100%;
}

.owmweather-settings label {
	margin: 0 0 0 10px;
}

.owmweather-sidebar {
	float: left;
	margin-left: 20px;
	position: relative;
	top: 15px;
	width: 250px;
	right: 15px;
}

.owmweather-sidebar .button {
	font-family: "Open Sans",sans-serif;
}

.owmweather-sidebar .owmweather-module {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #dedede;
	border-radius: 3px;
	box-shadow: 0 1px 0 #fff inset,0 0 20px rgba(0,0,0,0.05) inset,0 1px 2px rgba(0,0,0,0.1);
	float: left;
	margin: 0 0 15px 15px;
	max-height: 220px;
	min-height: 160px;
	padding: 15px 0 35px 15px;
	position: relative;
	transition-duration: .4s;
	width: 210px;
}

.owmweather-sidebar .owmweather-module h3 {
	color: #000;
	font-size: 17px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.1;
	margin: 0;
	padding: 0;
}

.owmweather-sidebar .owmweather-module .owmweather-module-actions {
	background: none repeat scroll 0 0 #fff;
	bottom: 20px;
	display: block;
	left: 15px;
	position: absolute;
}

.owmweather-sidebar .owmweather-module .module-image {
	background: rgba(52,153,220,0.8);
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	float: right;
	margin: 0 0 5px 10px;
	padding: 60px 0 0;
	width: 80px;
}

.owmweather-sidebar .owmweather-module .module-image .dashicons {
	color: rgba(255,255,255,0.85);
	font-size: 60px;
	height: 40px;
	left: 68%;
	position: absolute;
	top: 48px;
	width: 40px;
}

.owmweather-sidebar .owmweather-module .module-image .enabled {
	border-bottom: 1px solid #ccc;
	font-family: Open Sans;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 5px;
	padding-left: 25px;
	position: absolute;
	top: 130px;
	width: 56px;
}

.owmweather-sidebar .owmweather-module .module-image .enabled .dashicons {
	color: #27ae60;
	font-size: 20px;
	left: -10px;
	position: absolute;
	top: 0;
}

.owmweather-sidebar .owmweather-module .module-image p {
	background-color: #3498db;
	border-bottom-left-radius: 2px;
	clear: both;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

.owmweather-sidebar .owmweather-module-description {
	color: #666;
	font-size: 12px;
	line-height: 150%;
	margin-bottom: 20px;
	font-family: georgia,arial;
}

#owmweather-tabs .nav-tab-wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
}

#owmweather-tabs .nav-tab-wrapper ul li {
	display: inline-block;
	margin: 0 0 -4px 0;
}

#owmweather-tabs .nav-tab-wrapper ul li.ui-tabs-active a {
	background: #f1f1f1;
	color: #333;
}

.owmweather-settings th, .owmweather-settings td { padding: 10px!important}
.owmweather-settings  tr { border: 1px solid black}
