div[id^='wow-weather'] {
	position: relative;
	font-size: 14px;
	margin: 10px 0;
	padding: 10px 20px;
	width: 100%;
	line-height: 1;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wow-highlight {
	display: block;
	font-weight: bold;
}

.wow-small .wow-now .wow-location-name {
	font-size: 14px;
}

.wow-medium .wow-now .wow-location-name {
	font-size: 24px;
}

.wow-large .wow-now .wow-location-name {
	font-size: 34px;
}

.wow-now .wow-location-name {
    text-align: center;
}

.wow-now .wow-main-symbol {
	text-align: center;
}

.wow-small .wow-now .wow-main-symbol svg {
	width: 60px;
	height: 60px;
}

.wow-medium .wow-now .wow-main-symbol svg {
	width: 100px;
	height: 100px;
}

.wow-large .wow-now .wow-main-symbol svg {
	width: 200px;
	height: 200px;
}

.wow-small .wow-now .wow-main-symbol.wow-symbol-alt i,
.wow-small .wow-now .wow-main-symbol.wow-symbol-alt div.wow-symbol.climacon,
.wow-small .wow-now .wow-main-symbol.wow-symbol-alt div.diw,
.wow-small .wow-now .wow-main-symbol.wow-symbol-alt span.pe {
	font-size: 60px;
}

.wow-medium .wow-now .wow-main-symbol.wow-symbol-alt i,
.wow-medium .wow-now .wow-main-symbol.wow-symbol-alt div.wow-symbol.climacon,
.wow-medium .wow-now .wow-main-symbol.wow-symbol-alt div.diw,
.wow-medium .wow-now .wow-main-symbol.wow-symbol-alt span.pe {
	font-size: 100px;
}

.wow-large .wow-now .wow-main-symbol.wow-symbol-alt i,
.wow-large .wow-now .wow-main-symbol.wow-symbol-alt div.wow-symbol.climacon,
.wow-large .wow-now .wow-main-symbol.wow-symbol-alt div.diw,
.wow-large .wow-now .wow-main-symbol.wow-symbol-alt span.pe {
	font-size: 200px;
}

.wow-small .wow-now .wow-main-symbol.wow-symbol-alt div.wow-symbol.iconvault {
	width: 60px !important;
	height: 60px !important;
	font-size: 60px;
}

.wow-medium .wow-now .wow-main-symbol.wow-symbol-alt div.wow-symbol.iconvault {
	width: 100px !important;
	height: 100px !important;
	font-size: 100px;
}

.wow-large .wow-now .wow-main-symbol.wow-symbol-alt div.wow-symbol.iconvault {
	width: 200px !important;
	height: 200px !important;
	font-size: 200px;
}

.wow-small .wow-now .wow-main-symbol.wow-symbol-alt img {
	font-size: 60px;
	width: 60px;
	height: 60px;
}

.wow-medium .wow-now .wow-main-symbol.wow-symbol-alt img {
	font-size: 80px;
	width: 80px;
	height: 80px;
}

.wow-large .wow-now .wow-main-symbol.wow-symbol-alt img {
	font-size: 100px;
	width: 100px;
	height: 100px;
}

.wow-small .wow-now .wow-main-temperature {
	font-size: 14px;
}

.wow-medium .wow-now .wow-main-temperature {
	font-size: 24px;
}

.wow-large .wow-now .wow-main-temperature {
	font-size: 34px;
	margin: 0;
}

.wow-now .wow-main-temperature {
    text-align: center;
}

.wow-short-condition {
	display: inline-block;
	font-size: 16px;
	margin: 5px 0;
	text-align: center;
	width: 100%;
}

.wow-day, .wow-sun-hours, .wow-moon-hours, .wow-main-feels-like {
    text-align: center;
}

.wow-sun-hours svg, .wow-moon-hours svg {
	width: 28px;
	height: 28px;
}

.wow-infos {
	width: 100%;
	line-height: 1.5;
}

.wow-infos .wow-wind, .wow-infos .wow-humidity, .wow-infos .wow-dew-point, .wow-infos .wow-pressure, .wow-infos .wow-cloudiness, .wow-infos .wow-precipitation, .wow-infos .wow-visibility, .wow-infos .wow-uv-index {
	margin: 10px 0;
	text-align: center;
}

.wow-infos svg {
	width: 28px;
	height: 28px;
}

.wow-today {
	margin-top: 10px;
}

.wow-hours {
	border-bottom-style: solid;
	border-top-style: solid;
	border-width: 1px;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

.wow-hours .card, .wow-forecast .card {
	background-color: inherit;
	border: 0;
	margin: 15px;
}

.wow-hours .card-body, .wow-forecast .card-body {
	padding: .5rem;
}

.wow-hours .card-body svg, .wow-forecast .card-body svg {
	height:32px;
	width:32px;
}

.wow-forecast.card-column .card {
	display: inline-block;
}

.wow-hours .wow-symbol {
	position: relative;
}

.wow-hours .wow-first, .wow-hours .wow-second, .wow-hours .wow-third, .wow-hours .wow-fourth, .wow-hours .wow-fifth, .wow-hours .wow-sixth, .wow-hours .wow-seventh, .wow-hours .wow-eighth, .wow-hours .wow-ninth, .wow-hours .wow-tenth, .wow-hours .wow-eleventh, .wow-hours .wow-twelfth, .wow-hours .wow-thirteenth, .wow-hours .wow-fourteenth, .wow-hours .wow-fifteenth, .wow-hours .wow-sixteenth, .wow-hours .wow-seventeenth, .wow-hours .wow-eighteenth, .wow-hours .wow-nineteenth, .wow-hours .wow-twentieth, .wow-hours .wow-twentyfirst, .wow-hours .wow-twentysecond, .wow-hours .wow-twentythird, .wow-hours .wow-twentyfourth, .wow-hours .wow-twentyfifth, .wow-hours .wow-twentysixth, .wow-hours .wow-twentyseventh, .wow-hours .wow-twentyeighth, .wow-hours .wow-twentyninth, .wow-hours .wow-thirtieth, .wow-hours .wow-thirtyfirst, .wow-hours .wow-thirtysecond, .wow-hours .wow-thirtythird, .wow-hours .wow-thirtyfourth, .wow-hours .wow-thirtyfifth, .wow-hours .wow-thirtysixth, .wow-hours .wow-thirtyseventh, .wow-hours .wow-thirtyeighth, .wow-hours .wow-thirtyninth, .wow-hours .wow-fortieth, .wow-hours .wow-fortyfirst, .wow-hours .wow-fortysecond, .wow-hours .wow-fortythird, .wow-hours .wow-fortyfourth, .wow-hours .wow-fortyfifth, .wow-hours .wow-fortysixth, .wow-hours .wow-fortyseventh, .wow-hours .wow-fortyeighth {
	display: inline-block;
	width: auto;
}

.wow-forecast {
    margin-bottom: 10px;
}

.wow-forecast .col {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.wow-forecast .wow-first, .wow-forecast .wow-second, .wow-forecast .wow-third, .wow-forecast .wow-fourth, .wow-forecast .wow-fifth, .wow-forecast .wow-sixth, .wow-forecast .wow-seventh, .wow-forecast .wow-eighth {
	text-align: center;
}

div[id^='wow-map-id'] {
	width: 100%;
	height: 100%;
}

div[id^='wow-map-container'] {
	height: 300px;
	position: relative;
	width: 100%;
	z-index: 3;
}

div[id^='wow-map-container'] svg {
	width: auto;
	height: auto;
}

.wow-map, .wow-chart-container, .wow-table {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.wow-link-owm {
	float: left;
}

.wow-owm-link-last-update {
	margin-top: 5px;
}

.wow-last-update {
	float: right;
}

.wow-link-owm, .wow-last-update {
	font-size: 12px;
}

.wow-sunrise, .wow-sunset, .wow-moonrise, .wow-moonset {
        display: inline-block;
}

.climacon-sunrise, .climacon-sunset, .climacon-moonrise, .climacon-moonset {
	height: 32px;
	width: 32px;
    margin-right: 5px;
    margin-left: 5px;
}

.wow-table td {
	vertical-align: middle !important;
	white-space: nowrap;
}

.wow-table .wow-symbol {
	font-size: 40px;
	margin-right: 5px;
}

.wow-table svg {
	width: 40px;
	height: 40px;
	margin-left: 5px;
}

@media (max-width: 767px) {
    .climacon-sunrise, .climacon-sunset, .climacon-moonrise, .climacon-moonset {
	    height: 24px !important;
	    width: 24px !important;
    }
}

img.owm-icon {
    min-height: 50px !important;
    min-width: 50px !important;
}

.climacon {
    font-family: 'Climacons-Font';
}
.iconvault {
	font-family: 'iconvault';
}
.wi {
    font-family: 'weathericons';
}
.diw {
    font-family: 'dripicons';
}
.pe {
    font-family: 'pe-icon-set-weather';
}

div.iconvault {
    position: relative;
    width: 40px !important;
    height: 40px !important;
}

.wow-hours .climacon,
.wow-forecast .climacon {
	font-size: 40px;
}

.wow-hours .iconvault,
.wow-hours .diw,
.wow-hours .pe,
.wow-forecast .iconvault,
.wow-forecast .diw,
.wow-forecast .pe {
	font-size: 32px;
}

.wow-hours .wi,
.wow-forecast .wi {
	font-size: 28px;
}

@media (max-width: 767px) {
    div.iconvault {
        position: relative;
        width: 22px !important;
        height: 22px !important;
    }

    .wow-hours .climacon,
    .wow-forecast .climacon {
    	font-size: 28px;
    }

    .wow-hours .iconvault,
    .wow-hours .diw,
    .wow-hours .pe,
    .wow-forecast .iconvault,
    .wow-forecast .diw,
    .wow-forecast .pe {
    	font-size: 22px;
    }

    .wow-hours .wi,
    .wow-forecast .wi {
    	font-size: 20px;
    }
}

i.wi, span.pe {
    line-height: 1.5;
}

.wow-hours .diw {
    padding-bottom: 5px;
}

.wow-hours .climacon {
    padding-top: 5px;
    padding-bottom: 5px;
}

.climacon::before, .climacon::after, .wi::before, .wi::after, .diw::before, .diw::after, pe::before, pe::after, .iconvault::before, .iconvault::after {
    vertical-align: middle;
}

.wow-hours .iconvault .icon-sunny::after,
.wow-hours .iconvault .icon-moon::after,
.wow-hours .iconvault .icon-night::after,
.wow-hours .iconvault .icon-sun::after,
.wow-hours .iconvault .icon-cloud::after,
.wow-hours .iconvault .fullcloud::before,
.wow-hours .iconvault .basecloud::before,
.wow-hours .iconvault .windyraincloud::before,
.wow-hours .iconvault .windysnowcloud::before,
.wow-hours .iconvault .basethundercloud::before,
.wow-hours .iconvault .icon-thunder::before,
.wow-hours .iconvault .icon-drizzle::before,
.wow-hours .iconvault .icon-hail::before,
.wow-hours .iconvault .icon-showers::before,
.wow-hours .iconvault .icon-rainy::before,
.wow-hours .iconvault .icon-snowy::before,
.wow-hours .iconvault .icon-frosty::before,
.wow-hours .iconvault .icon-windy::before,
.wow-hours .iconvault .icon-windyrain::before,
.wow-hours .iconvault .icon-windysnow::before,
.wow-hours .iconvault .icon-sleet::before,
.wow-hours .iconvault .icon-mist::before {
    top: 5px !important;
    left: 5px !important;
}
